body {
    margin: 1em auto;
    max-width: 40em;
    width: 88%;
    background-color: rgba(233, 190, 236, 0.5);
    font-family: "Open Sans", sans-serif;
}

label {
    display: block;
    width: 100%;
}

input {
    margin-bottom: 1em;
    padding: 6px 6px 5px;
    font-size: 1em;
}

/* just messing around */
[type="checkbox"] {
    margin-bottom: 0;
    margin-right: 0.25em;
    appearance: none;
    -webkit-appearance: none;
    background-color: #fff;
    border: 1px solid #cacece;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    padding: 9px;
    border-radius: 3px;
    display: inline-block;
    position: relative;
    width: 1.75em;
    height: 1.75em;
}

[type="checkbox"]:checked {
    background-color: #e9ecee;
    border: 1px solid #adb8c0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
    color: #99a1a7;
}

[type="checkbox"]:checked:after {
    content: '\2714';
    font-size: 1.35em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #333;
}