* {
    box-sizing: border-box;
}

body {
    width: 88%;
    max-width: 40rem;
    margin: 1rem auto;
    line-height: 1.5;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

a {
    color: #0277bd;
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

div {
    background: #faf9f0;
    margin-bottom: 2em;
    padding: 0em 2em 1.5em;
    border: 1px solid #121212;
    border-radius: 6px;

}

.icon {
    background: #fff;
    margin-bottom: 2em;
    padding: 0em 2em 1.5em;
    border: 1px solid #121212;
    border-radius: 10px;
}

footer {
    border-top: .5em solid #dfe1e5;
    margin-top: 2rem;
    font-style: italic;
}