* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

html {
  --blue: #22577a;
  --white: #fff;
}

body, button {
  color: var(--white);
}

body, .controls {
  display: flex;
}

body {
  justify-content: center;
  align-items: center;
  width: 88%;
  max-width: 40rem;
  margin: 0 auto;
  background-color: var(--blue);
  font: 1rem/1.5 Nunito, monospace;
  text-align: center;
}

p, button:only-child {
  font-size: 3rem;
}

button {
  display: block;
  padding: .5rem 1rem;
  border: .25rem solid var(--white);
  border-radius: .5rem;
  margin: .5rem;
  background-color: transparent;
  font: inherit;
  font-size: 2.25rem;
  cursor: pointer;
}

button:hover {
  background-color: var(--white);
  color: var(--blue);
}

.time {
  margin-top: 0;
}