<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>Weather App - Plugin</title>

	<style type="text/css">
		body {
			margin: 1em auto;
			max-width: 30em;
			width: 88%;
		}

		.icon {
			float: left;
			width: 25%;
			margin-right: 4%;
		}

		.icon.d {
			border: 1px solid black;
		}

		.icon.n {
			background-color: black;
		}

		.icon.t {
			background-color: darkgray;
		}

		dl {
			float: right;
			width: 100%;
		}

		.icon+dl {
			width: 70%;
		}

		dt {
			width: 40%;
			float: left;
			clear: both;
		}

		dd {
			width: auto;
			float: left;
		}

		sup {
			font-size: x-small;
		}
	</style>

</head>

<body>

	<h1>Weather App - Plugin</h1>

	<div id="app">Checking the weather near you...</div>

	<script>
		// Wrap in a named function

		var weatherApp = function (options) {

			// Default settings
			var defaults = {
				apiKey: null,
				selector: '#app',
				units: 'M',
				fullDescription: "<dl><dt>Temperature:</dt><dd> {{ temp }} </dd><dt>Cloud cover:</dt><dd> {{ clouds }} </dd><dt>Wind:</dt><dd> {{ wind }} </dd></dl>",
				noWeather: 'There was a problem getting the weather.',
				icon: true
			};

			// Merge any user options into the defaults
			var settings = Object.assign(defaults, options);

			// Check for API key and don't run if not provided
			if (!settings.apiKey) {
				console.warn('Please provide an API key.');
				return;
			}

			//
			// Variables
			//

			// Get the #app element
			var app = document.querySelector(settings.selector);

			//
			// Methods
			//

			/**
			 * Sanitize and encode all HTML in a user-submitted string
			 * @param  {String} str  The user-submitted string
			 * @return {String} str  The sanitized string
			 */
			var sanitizeHTML = function (str) {
				var temp = document.createElement('div');
				temp.textContent = str;
				return temp.innerHTML;
			};

			/**
			 * Get formatted date
			 * @param  {String} obTime The observation time
			 * @return {String}        The observation date, formatted
			 */
			var dateString = function (obTime) {
				var obsTime = new Date(obTime);
				return obsTime.toLocaleString('en-GB', {
					weekday: 'long',
					day: 'numeric',
					month: 'long',
					year: 'numeric'
				});
			};

			/**
			 * Get formatted time
			 * @param  {String} obTime The observation time
			 * @return {String}        The observation time, formatted
			 */
			var timeString = function (obTime) {
				var obsTime = new Date(obTime);
				return obsTime.toLocaleString('en-ZA', {
					hour: 'numeric',
					minute: 'numeric'
				});
			};


			/**
			 * Get time of day (day, twilight, night)
			 * @param  {Object} weather Weather object
			 * @return {String}         Letter denoting time of day
			 */
			var timeOfDay = function (weather) {

				var timeAsMinutes = function (string) {
					return (parseInt(string.split(':')[0]) * 60) + parseInt(string.split(':')[1]);
				};

				if (((timeAsMinutes(timeString(weather.ob_time)) < (timeAsMinutes(weather.sunrise) + 30)) && (
						timeAsMinutes(timeString(weather.ob_time)) > (timeAsMinutes(weather.sunrise) - 30))) ||
					((timeAsMinutes(timeString(weather.ob_time)) < (timeAsMinutes(weather.sunset) + 30)) && (
						timeAsMinutes(timeString(weather.ob_time)) > (timeAsMinutes(weather.sunset) - 30)))) {
					return 't';
				} else if ((timeAsMinutes(timeString(weather.ob_time)) > timeAsMinutes(weather.sunrise)) && (
						timeAsMinutes(timeString(weather.ob_time)) < timeAsMinutes(weather.sunset))) {
					return 'd';
				} else {
					return 'n';
				};
			};

			/**
			 * Get description of precipitation
			 * @param  {Object} weather Weather object
			 * @return {String}      	Precipitation string
			 */
			var precip = function (weather) {
				if (weather.snow > 0) {
					return 'It is snowing.';
				} else if (weather.precip > 0) {
					return 'It is raining.';
				} else {
					return 'It is dry.';
				}
			};

			/**
			 * Get string to display icon
			 * @param  {Object} weather Weather object
			 * @return {String}      	A markup string for the icon
			 */
			var getIcon = function (weather) {
				// If the icon is deactivated, return an empty string
				if (!settings.icon) return '';

				// Otherwise, return the icon
				var html =
					"<div class='icon " + timeOfDay(weather) + "'><img alt='Weather API day '" + sanitizeHTML(weather
						.weather.description) + " src='https://www.weatherbit.io/static/img/icons/" + sanitizeHTML(
						weather.weather.icon) + ".png'></div>";

				return html;
			};

			/**
			 * Get string to display weather description
			 * @param  {Object} weather Weather object
			 * @return {String}      	A markup string for the full description
			 */
			var getDescription = function (weather) {
				// If the full description is deactivated, return an empty string
				if (!settings.fullDescription) return '';

				if (settings.units == 'I') {
					var tempUnit = '&deg;F';
					var speedUnit = 'mph';
				} else {
					var tempUnit = '&deg;C';
					var speedUnit = 'ms<sup>-1</sup>';
				}

				return settings.fullDescription
					.replace('{{ temp }}', sanitizeHTML(weather.temp) + tempUnit)
					.replace('{{ clouds }}', sanitizeHTML(weather.clouds) + '%')
					.replace('{{ wind }}', sanitizeHTML(weather.wind_spd.toFixed(1)) + speedUnit);
			};

			/**
			 * Render the weather data into the DOM
			 * @param  {Object} weather The weather data object
			 */
			var renderWeather = function (weather) {

				app.innerHTML =

					"<p>The weather in " +
					sanitizeHTML(weather.city_name) +
					", recorded at " +
					timeString(sanitizeHTML(weather.ob_time)) +
					" on " +
					dateString(sanitizeHTML(weather.ob_time)) +
					": <strong>" + sanitizeHTML(weather.weather.description.toLowerCase()) +
					"</strong>. " + precip(weather) + "</p>" +

					getIcon(weather) +
					getDescription(weather);

			};

			/**
			 * Display a message when no weather data can be found
			 */
			var renderNoWeather = function (error) {
				app.innerHTML = "<p>" + settings.noWeather + "<br /><em>(error: " + error.statusText + ")</em></p>";
			};


			//
			// Inits
			//

			// Get the user's location by IP address
			// Then, pass that into the weather API and get the current weather
			fetch('https://ipapi.co/json').then(function (response) {
				if (response.ok) {
					return response.json();
				} else {
					return Promise.reject(response);
				}
			}).then(function (data) {
				// Pass data into another API request
				// Then, return the new Promise into the stream
				return fetch('https://api.weatherbit.io/v2.0/current?key=' + settings.apiKey + '&lat=' + data
					.latitude + '&lon=' + data.longitude + '&units=' + settings.units);
			}).then(function (response) {
				if (response.ok) {
					return response.json();
				} else {
					return Promise.reject(response);
				}
			}).then(function (data) {
				// Pass the first weather item into a helper function to render the UI
				renderWeather(data.data[0]);
			}).catch(function (error) {
				renderNoWeather(error);
			});


		};

		// call weatherApp
		weatherApp({
			apiKey: '6030c62e6d3448ffa355b66dda6b507c', // DO NOT COMMIT
			units: 'M',
			icon: true
		});
	</script>
</body>

</html>