/**
 * Add box sizing to everything
 * @link http://www.paulirish.com/2012/box-sizing-border-box-ftw/
 */
/* line 38, src/sass/components/_normalize.scss */
*,
*:before,
*:after {
  box-sizing: border-box;
}

/**
 * Layout
 */
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 112.5%;
  margin-left: auto;
  margin-right: auto;
  max-width: 40em;
  width: 88%;
}

/**
		 * Layouts
		 */

@media (min-width: 40em) {
  .place {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    grid-column-gap: 2em;
  }
}

.place {
  margin-bottom: 2em;
}


.place h2 {
  margin: 0 0 0.5em;

  padding: 0;
}

p {
  margin: 0 0 1em;
}

img {
  height: auto;
  max-width: 100%;
}