html {
    min-height: 100%;
    position: relative;
}

body {
    background-color: #f5f5f5;
    color: #4C566A;
    margin-bottom: 60px;
    /* Margin bottom by footer height */
}

a {
    color: #5E81AC;
    border-bottom: 1px dotted;
}

a:focus,
a:hover {
    border-bottom: 1px solid;
    color: #5E81AC;
    text-decoration: none;
}

.form-check-inline {
    margin: 0.125rem;
}