	<h1>Weather App</h1>
	<!-- A Single HTML element with an ID of #app -->
	<!-- This is where we will render our weather information -->
	<div id="app">Checking the weather near you...</div>
	<p>
		<form>

			<div>
				<label for="show-fahrenheit">
					<input type="radio" name="temp-measure" id="show-fahrenheit" value="cToF">
					Display in Fahrenheit.
				</label>
				<label for="show-celsius">
					<input type="radio" name="temp-measure" id="show-celsius" value="fToC">
					Display in Celsius.
				</label>

			</div>
		</form>
	</p>

