/*  */
body {
    margin: 1em auto;
    max-width: 40em;
    width: 88%;
}

label {
    display: block;
    width: 100%;
}

input {
    margin-bottom: 1em;
}

[type="checkbox"] {
    margin-bottom: 0;
    margin-right: 0.25em;
}