* {
    box-sizing: border-box;
}

body {
    width: 88%;
    max-width: 40rem;
    margin: 1rem auto;
    line-height: 1.5;
    font-family: "Avenir Next", Avenir, sans-serif;
    text-align: center;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.25rem;
}

a {
    color: #0277bd;
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

strong,
b {
    font-weight: bold;
}

footer {
    border-top: .5em solid #dfe1e5;
    margin-top: 2rem;
    font-style: italic;
}

.weather {
    padding: 1rem;
    border: 1px solid #dfe1e5;
    border-radius: .5rem;
    box-shadow: 0 0 .25rem -.25rem #000;
}

.weather-temp {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

.weather-desc {
    font-size: 1.25rem;
}