* {
  box-sizing: border-box;
}

body {
  width: 88%;
  max-width: 64rem;
  margin: 1rem auto;
  line-height: 1.5;
  font-family: sans-serif;
}

h1::after {
  content: " 🧭";
}

strong {
  font-weight: bold;
}

a {
  color: blue;
}

a:hover {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.places {
  display: grid;
  grid-gap: 1rem;
  padding: 0;
  list-style: none;
}

@media (min-width: 48rem) {

  .places {
    grid-template-columns: repeat(2, 1fr);
  }

}

@media (min-width: 64rem) {

  .places {
    grid-template-columns: repeat(3, 1fr);
  }

}

.listing {
  display: flex;
  flex-direction: column;
}

.listing img {
  display: block;
  width: 100%;
  object-fit: cover;
}