body {
    background-color: #582A71;
    color: white;
    font-family: Arial, sans-serif;
    margin: 2em auto;
    max-width: 40em;
    width: 88%;
}

label {
    display: block;
    padding-bottom: 3px;
    width: 100%;
}

input {
    font-size: 15px;
    margin-bottom: 1em;
    padding: 4px;
}

[type="checkbox"] {
    margin-bottom: 0;
    margin-right: 0.25em;
}

button {
    background-color: #7B9E35;
    border: 0;
    color: white;
    cursor: pointer;
    font-size: 15px;
    padding: 10px 12px;
    text-shadow: 1px 1px 2px #333;
    text-transform: uppercase;
}

button:hover {
    background-color: #557714;
}