body {
    margin: 1em auto;
    max-width: 40em;
    width: 90%;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-family: 'Roboto', sans-serif;
}

h2 {
    font-family: 'Roboto', sans-serif;
}

h3 {
    font-family: 'Roboto', sans-serif;
}

h4 {
    font-family: 'Roboto', sans-serif;
}

p {
    font-family: 'Roboto', sans-serif;
}

ul {
    font-family: 'Roboto', sans-serif;
}

li {
    font-family: 'Roboto', sans-serif;
}

div {
    width: 100%;
    background-color: rgb(250, 250, 228);
    border-radius: 5px;
    padding: 10px;
}

.title {
    font-family: 'Roboto', sans-serif;
}

.date {
    font-family: 'Roboto', sans-serif;
    border-color: #000000;
    color: rgb(10, 10, 10);
    font-weight: bold;
    height: 20px;
    font-size: 10px;
}

.description {
    font-family: 'Roboto', sans-serif;
    border-color: #000000;
    color: rgb(10, 10, 10);
    font-weight: normal;
    height: 20px;
    font-size: 15px;
}

label {
    height: 10px;
    font-family: 'Roboto', sans-serif;
    border-color: #000000;
    color: rgb(10, 10, 10);
    font-weight: bold;
    height: 20px;
    font-size: 15px;
}

input {
    height: 10px;
    font-family: sans-serif;
    height: 20px;
    margin: 2px;
}

input:hover {
    border-color: rgb(49, 53, 50);
}

button {
    display: inline-block;
    border: none;
    padding: 1rem 2rem;
    margin: 0;
    text-decoration: none;
    background: #000000;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out,
        transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

button:hover,
button:focus {
    background: #189483;
}

button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

button:active {
    transform: scale(0.99);
}