* {
  box-sizing: border-box;
}

body {
  margin: 1em auto;
  max-width: 40em;
  width: 88%;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

label,
input,
textarea {
  display: block;
  width: 100%;
  height: 24px;

}

input,
textarea {
  margin-bottom: 1em;
  height: 32px;
}

textarea {
  height: 8em;
}


button {
  display: inline-block;
  border: none;
  padding: 1rem 2rem;
  margin: 0;
  text-decoration: none;
  background: #000000;
  color: #ffffff;
  font-family: sans-serif;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out,
    transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

button:hover,
button:focus {
  background: #852020;
}

button:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}

button:active {
  transform: scale(0.99);
}