 body {
 	margin: 1em auto;
 	max-width: 40em;
 	width: 88%;
 }

 .btn-default {
 	background-color: rgb(100, 100, 100);
 }

 .btn-pink {
 	background-color: deeppink;
 }

 .btn-red {
 	background-color: crimson;
 }

 .btn-orange {
 	background-color: orange;
 }

 .btn-yellow {
 	background-color: yellow;
 }

 .btn-green {
 	background-color: rgb(51, 153, 73);
 	color: #ffffff;
 }

 .btn-blue {
 	background-color: #0088cc;
 	color: #ffffff;
 }

 .btn-purple {
 	background-color: rebeccapurple;
 	color: #ffffff;
 }