* {
  box-sizing: border-box;
}

body {
  width: 88%;
  max-width: 34em;
  margin: 1em auto;
  background-color: #f4f7f8;
  color: #000;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

h1 {
  line-height: 1.25;
}

p, button {
  line-height: 1.5;
}

blockquote {
  margin-left: 0;
  font-size: 1.25rem;
}

a {
  color: #068;
}

a:hover {
  color: #097a9f;
}

button {
  padding: .5rem 1rem;
  border: none;
  border-radius: .25rem;
  background-color: #068;
  color: #fff;
  font-size: inherit;
  font-family: inherit;
  cursor: pointer;
}

button:hover {
  background-color: #097a9f;
  box-shadow: 0 .125rem .25rem 0 rgba(0, 0, 0, .2);
}

blockquote p:first-of-type::before {
  content: open-quote;
}

blockquote p:last-of-type::after {
  content: close-quote;
}

.screen-reader {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}