* {
  box-sizing: border-box;
}

body {
  width: 88%;
  max-width: 30em;
  margin: 1em auto;
  line-height: 1.5;
  background-color: aliceblue;
  font-family: "Roboto", sans-serif;
}

h1 {
  font-weight: normal;
}

label {
  display: block;
}

textarea {
  width: 100%;
  min-height: 7em;
  padding: .5em;
  border: .125em solid #d7d7d7;
  border-radius: .25em;
  background-color: white;
  font: inherit;
}

textarea:focus {
  outline: .125em solid #ffd346;
}

strong {
  font-weight: bold;
}

a {
  color: #068;
}

a:hover {
  text-decoration: none;
}

footer {
  border-top: .5em solid #d7d7d7;
  margin-top: 2em;
}